.container
  %h3.fw-light.text-center Please enter search rules
  = form_with model: @search, method: :post do |form|
    .row.g-3
      .mt-3
      .col-md-6
        = form.text_field :make, class: "form-control form-control-lg border border-primary border-3 rounded-3 area", placeholder: "Make"
      .col-md-6
        = form.text_field :model, class: "form-control form-control-lg border border-primary border-3 rounded-3 area", placeholder: "Model"
    .row.justify-content-md-center
      .mt-3
      .col-md-6
        = form.number_field :year_from, class: "form-control form-control-lg border border-primary border-3 rounded-3 area", placeholder: "Year from"
      .col-md-6
        = form.number_field :year_to, class: "form-control form-control-lg border border-primary border-3 rounded-3 area", placeholder: "Year to"
    .row.justify-content-md-center
      .mt-3
      .col-md-6
        = form.number_field :price_from, class: "form-control form-control-lg border border-primary border-3 rounded-3 area", placeholder: "Price from"
      .col-md-6
        = form.number_field :price_to, class: "form-control form-control-lg border border-primary border-3 rounded-3 area", placeholder: "Price to"
      %div.text-center
        = form.submit "Search", class: "btn btn-outline-primary btn-lg search_form"

