%div
  - if @user_searches.any?
    %h3.text-center.fs-4.fst-italic Searches #{current_user.email}
    .album.py-5
      .container
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
          - @user_searches.each do |search|
            .col.fs-5
              .card.shadow-lg.p-2.mb-2.bg-body.rounded.text-center
                = "Search №#{search.id}"
              .card-body
                %p.card-text
                  ="Make: #{search.make}"
                  %br
                  ="Model: #{search.model}"
                  %br
                  ="Year from: #{search.year_from}"
                  %br
                  ="Year to: #{search.year_to}"
                  %br
                  ="Price from: #{search.price_from}"
                  %br
                  ="Price to: #{search.price_to}"
                  %br
                  .d-flex.justify-content-between.flex-row-reverse
                    %small.text-muted
                      = search.created_at.strftime("%Y-%m-%d %H:%M:%S")
    .album.py-5
  - else
    .text-center.form.fs-4
      = "You haven't searched yet. Want to do?"
      %br.btn-group
        = link_to 'Search', new_search_path, class: "btn btn-outline-primary"
= paginate @user_searches
