%span{:style => "text-align: center; color: #730E15; font-style: italic; font-size: 30px"}
  %h3 Cars List

= link_to 'Price Asc', cars_path({:sort_type => "price asc"}.merge(@search_params))
%br
= link_to 'Price Desc', cars_path({:sort_type => "price desc"}.merge(@search_params))
%br
= link_to 'Date Added Asc', cars_path({:sort_type => "created_at asc"}.merge(@search_params))
%br
= link_to 'Date Added Desc', cars_path({:sort_type => "created_at desc"}.merge(@search_params))
%br
%span{:style => "color: #730E15; font-style: italic; font-size: 26px"}
  = 'Search request' unless @search_params.blank?
  %br
  -@search_params.each do |key, value|
    ="#{key}: #{value}"
    %br
  %br
  - if @cars.any?
    = "Number of cars found: #{@cars.count}"
    %br
    %span{:style => "font-size: 20px"}
      - @cars.each do |car|
        %span{:style => "font-style: italic; font-size: 24px"}
          =link_to "#{car.id}. #{car.make + ' ' + car.model + ', ' + car.year.to_s + ', $' + car.price.to_s}" + ', ' + car.created_at.to_date.to_s, car
          %br
  - else
    = "Cars not found"

