%span{:style => "text-align: center; color: #730E15; font-style: italic; font-size: 30px"}
  %h3 Cars List

= link_to 'Price Asc', cars_path(request.params.merge({:sort_type => "price"}).merge({:sort_direction => "asc"}))
%br
= link_to 'Price Desc', cars_path(request.params.merge({:sort_type => "price"}).merge({:sort_direction => "desc"}))
%br
= link_to 'Date Added Asc', cars_path(request.params.merge({:sort_type => "created_at"}).merge({:sort_direction => "asc"}))
%br
= link_to 'Date Added Desc', cars_path(request.params.merge({:sort_type => "created_at"}).merge({:sort_direction => "desc"}))
%br
%span{:style => "color: #730E15; font-style: italic; font-size: 26px"}
  = 'Search request' unless request.query_parameters.blank?
  %br
  -request.query_parameters.each do |key, value|
    ="#{key}: #{value}"
    %br
  %br
  - if @cars.any?
    = "Number of cars found: #{@count}"
    %br
    %span{:style => "font-size: 20px"}
      - @cars.each do |car|
        %span{:style => "font-style: italic; font-size: 24px"}
          =link_to "#{car.id}. #{car.make + ' ' + car.model + ', ' + car.year.to_s + ', $' + car.price.to_s}" + ', ' + car.created_at.to_date.to_s, car
          %br
  - else
    = "Cars not found"
= paginate @cars

