%span{:style => "text-align: center; color: #730E15; font-style: italic; font-size: 30px"}
  %h1 #{@car.make + ' ' + @car.model}
%span{:style => "font-size: 24px"}
  ="ID: #{@car.id}"
  %br
  ="Make: #{@car.make}"
  %br
  ="Model: #{@car.model}"
  %br
  ="Year: #{@car.year}"
  %br
  ="Odometer: #{@car.odometer}"
  %br
  ="Price: #{@car.price}"
  %br
  ="Description: #{@car.description}"
  %br
